
header {
    height: 75px;
    background: #3d8361;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .header-logo h1 {
    font-family: "SeoulHangang CL";
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  nav a {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 20px;
  }
  .nav_tab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  nav a:hover {
    background-color: #fff;
    color: #3d8361;
    border-radius: 5px;
  }
