*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Cũng giúp tính toán kích thước đúng đắn */
    font-family: Roboto;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
}
main
{
    flex: 1;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
.container
{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    border: 2px solid black;

    display: flex;
}
.background-image
{
    background-image: url(../assets/images/login.jfif);
    background-size: cover;
}
.field
{
    flex:5.5;
}
.container-login
{
    background-color: #fff;
    flex:4.5;
    border: 1px solid black;
}
/* Dành cho header */
header
{
    display: flex;
    justify-content: space-around;

    background: #3D8361;

}
.item-1
{
    width: 25%;
    /* border: 1px solid red; */
    margin-top: .94rem;
    margin-bottom: 1.12rem;
    display: flex;
}
.item-2
{
    width: 50%;
    margin-top: 1.56rem;
    margin-bottom: 1.63rem;
}
.item-3
{
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.38rem;
    margin-bottom: .9rem;
}
.header-title
{
    align-self: flex-start;
    margin-left: .5rem;
    /* border: 1px solid red; */
    color: #FFF;
    font-family: "SeoulHangang CM";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-list
{
    list-style: none;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.nav-list-item
{
    margin: 0 4rem;

    
    
}
.nav-link
{
    text-decoration: none;
    color: #FCFCFC;
    font-family: "Exo 2";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* .nav-link:hover
{

} */
.button
{
    margin-right: .5rem;

    text-decoration: none;
    color: #3D8361;
    font-family: "Exo 2";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.40625rem; /* 1.40625rem */
    padding: 0.5rem 0.4375rem 0.47319rem 0.5625rem;

    border-radius: 0.5rem;
    background: #FCFCFC;
    flex-shrink: 0;
}
/* Dành cho các chi tiết trong form sign up */
.heading-sign-up
{
    margin-left: 3.44rem;
    margin-right: 4.75rem;
    margin-top: 7.56rem;
    margin-bottom: 1rem;

    color: var(--Default-gray-800, #1F2937);
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container-input
{
    margin-left: 3.44rem;
    margin-right: 4.75em;
    margin-bottom: 3rem;
    border-bottom: 2px solid #059184;
}
label
{
    display: block;

    color: var(--Default-gray-400, #9CA3AF);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
input
{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 85%;
    height: 1.1875rem;
    border: none;

    color: var(--Default-gray-800, #1F2937);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
input#email,
input#phone-number
{
    width: 100%;
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg.email,
svg.phone-number
{
    margin-top: 1rem;
}
.no-border
{
    border: none;
}
.border-bottom
{
    padding-bottom: 3rem;
    border-bottom: 1px solid #E5E7EB;;
}
.create-account
{
    width: 100%;
    height: 3.3125rem;

    border-radius: 0.25rem;
    background: #1C2120;
    color: #fff;
}
span
{
    color: #9CA3AF;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 0.5rem;
}
.log-in
{
    display: inline-block;
    text-decoration: none;
    color: var(--Brand, #059184);
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-bottom-style
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 7.75rem;
}
.span-style-1
{
    display: block;
    margin-left: 3.44rem;
    margin-right: 4.75em;
    margin-bottom: 2.5rem;

    color: var(--Default-gray-400, #9CA3AF);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.span-style-2
{

    color: var(--Default-gray-400, #9CA3AF);
    text-align: center;
    font-family: Content;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}
