* {
  box-sizing: border-box;
}

header {
  height: 75px;
  background: #3d8361;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.header-logo h1 {
  font-family: "SeoulHangang CL";
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
}
nav a {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
.nav_tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

body {
  background-image: url("../assets/images/Group 448.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.view_rules h2 {
  font-size: 24px;
  font-family: "Exo 2";
  margin: 18px 80px 0;
  font-weight: 700;
  line-height: 50px;
}

.rule_content {
  background: white;
  display: inline-flex;
  margin-left: 159px;
  margin-right: 50px;
  font-family: "Roboto";
  border-radius: 8px;
}
.logo_rule {
  justify-items: center;
  margin: 44px 72px;
}

.logo_rule h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 21px;
}

.rule-form {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 143px;
  margin-top: 39px;
  margin-right: 31px;
  margin-bottom: 39px;
}
.rule-form input {
  background: #3d8361;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 0;
  border: 1px solid rgb(15, 15, 15);
  color: white;
}

.editable {
  background: white !important;
  color: black !important;
}

.grid-item {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
  column-gap: 9px;
}

.grid-text {
  display: inline-grid;
  grid-template-columns: minmax(auto, 218px) 1fr;
}

.r1 label,
.r2 label,
.r3 label,
.r4 label,
.r6 label,
.r7 label,
.r8 label,
.r9 label {
  grid-column: 1/3;
}

.r5 {
  grid-template-columns: minmax(auto, 209px) 1fr 1fr;
  grid-column: 1/3;
}

.r12 {
  grid-column: 1/3;
}

.r12 input {
  width: 100%;
}

label {
  background: white;
  align-content: center;
}

.btn {
  font-family: "Exo 2";
  display: flex;
  justify-content: flex-end;
  margin: 43px 88px;
  font-size: 14px;
  font-weight: 500;
}

.edit-btn {
  background: #3d8361;
  color: white;
  width: 91px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.cancel-btn {
  background: rgb(208, 248, 170);
  color: white;
  width: 91px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
