* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
}
main
{
    flex: 1;
    /* display: flex;
    align-items: center; */
}

.background-image
{
    background-image: url(../assets/images/report.png);
    background-size: cover;
}
.container
{
    width: 100%;
    margin: 0 auto;
}

  /* Dành cho header */
header
{
    display: flex;
    justify-content: space-around;

    background: #3D8361;

}
.item-1
{
    width: 25%;
    /* border: 1px solid red; */
    margin-top: .94rem;
    margin-bottom: 1.12rem;
    display: flex;
}
.item-2
{
    width: 50%;
    margin-top: 1.56rem;
    margin-bottom: 1.63rem;
}
.item-3
{
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.header-title
{
    align-self: flex-start;
    margin-left: .5rem;
    /* border: 1px solid red; */
    color: #FFF;
    font-family: "SeoulHangang CM";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-list
{
    list-style: none;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.nav-list-item
{
    margin: 0 4rem;

    
    
}
.nav-link
{
    text-decoration: none;
    color: #FCFCFC;
    font-family: "Exo 2";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* .nav-link:hover
{

} */
.button
{
    margin-right: .5rem;

    text-decoration: none;
    color: #3D8361;
    font-family: "Exo 2";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.40625rem; /* 1.40625rem */
    padding: 0.5rem 0.4375rem 0.47319rem 0.5625rem;

    border-radius: 0.5rem;
    background: #FCFCFC;
    flex-shrink: 0;
}

/* Phần heading */
.heading-container
{
    margin-top: 1.44rem;
    margin-left: 5rem;
}
.tournament-heading
{

    color: #000;
    font-family: "Exo 2";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 208.333% */

}
.search
{
    position: relative;
    padding-bottom: 0.63rem; /* Khoảng cách giữa nội dung và dấu gạch */
}

.search::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13.625rem; /* Chiều rộng của dấu gạch, chiếm 30% chiều rộng của div */
    height: 0.0625rem; /* Độ dày của dấu gạch */
    background-color: #A6A1A1; /* Màu của dấu gạch */
}

.search > input
{
    color: black;
    font-family: "Exo 2";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    width: 13.625rem;
    background-color: transparent;
}

/* Phần nội dung */
.column-container
{
    display: flex;
    justify-content: space-around;

    /* width: 90%;
    max-width: 1200px;
    margin: 0 auto; */
    margin-top: 1.75rem;

}
.column {
    width: 20%;
}
.section
{
    display: flex;
    margin-bottom: 1.3rem;
}
.section-1>.name
{
    color: rgba(21, 22, 23, 0.80);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3125rem; /* 131.25% */
}
.link a
{
    text-decoration: none;
    margin-right: 1.5rem;

    color: #06C;
    font-family: Roboto;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8125rem; /* 118.182% */
}
.image
{
    margin-right: 1rem;
}